<footer>
  <div>
    <h3>Infos</h3>
    <a (click)="logout()">Logout</a>
    <a routerLink="/support">Support</a>
    <a routerLink="/contact">Contact</a>
  </div>
  <div>
    <h3>Navigation</h3>
    <a routerLink="/">Home</a>
    <a routerLink="/settings">Settings</a>
    <a routerLink="/logs">Logs</a>
  </div>
  <div>
    <h3>Address</h3>
    <a href="https://www.google.com/maps/search/4405+neese+lee/@30.443206,-88.5371415,63m/data=!3m1!1e3!5m1!1e4" target="_blank">
      <p>4405 Neese Ln</p>
      <p>Moss Point</p>
      <p>MS 39563</p>
    </a>
  </div>
  <div>
    <h3>Legal information</h3>
    <a routerLink="/legalNotice">Legal Notice</a>
    <a routerLink="/dataPrivacy">Data privacy</a>
  </div>
</footer>
