<div id="container">
  <header id="header">
    <h1>Data Privacy</h1>
    <fa-icon [icon]="faHouse" routerLink="/"></fa-icon>
  </header>
  <main id="content">
    <p>
      At [Restaurant Name], we take the privacy of our customers' personal information very seriously. We are committed
      to protecting the privacy of our users and to complying with all applicable data protection laws and regulations.
      This Data Privacy Statement applies to the collection, use, and storage of personal information by our Restaurant
      Management System website (the "Website").
      <br><br><b>Collection of Personal Information:</b><br>
      We collect personal information from our customers when they use the Website, such as their name, email address,
      phone number, and payment information. We use this information to provide our customers with the services they
      request and to improve the Website.
      <br><br><b>Use of Personal Information:</b><br>
      The personal information we collect is used to provide our customers with the services they request, such as
      placing an order or reserving a table. We may also use the information to send customers promotional offers and to
      improve the Website.
      <br><br><b>Storage of Personal Information:</b><br>
      We store personal information on secure servers and take appropriate security measures to protect against
      unauthorized access, alteration, or destruction of the information.
      <br><br><b>Disclosure of Personal Information:</b><br>
      We will not sell or rent our customers' personal information to third parties. We may share personal information
      with our service providers who assist us in operating the Website and providing our services. These service
      providers are bound by confidentiality agreements and are only permitted to use the information for the purpose of
      providing the services they are engaged to perform.
      <br><br><b>Data Security:</b><br>
      We use appropriate technical and organizational measures to protect the personal information we collect and store.
      However, no security measures are foolproof and we cannot guarantee the security of personal information.
      <br><br><b>Changes to this Data Privacy Statement:</b><br>
      We may update this Data Privacy Statement from time to time to reflect changes in our practices or applicable
      laws. We will post any changes on the Website and will indicate the date of the latest revision.
      <br><br><b>Contact Information:</b><br>
      If you have any questions or concerns about this Data Privacy Statement or our collection, use, and storage of
      personal information, please contact us at [contact email].
    </p>
  </main>
</div>
<app-footer></app-footer>
