<div class="container">
  <header id="header">
    <h1>Hello {{name}}</h1>
    <fa-icon id="settings-icon" [icon]="faGear" routerLink="/settings"></fa-icon>
  </header>
  <main id="content">
    <div *ngFor="let table of tables; let i = index" class="table-container">
      <h3>{{table.name}}</h3>
      <div>
        <fa-icon [icon]="faPlay" *ngIf="!active[i]" (click)="start(i)"></fa-icon>
        <fa-icon [icon]="faClockRotateLeft" *ngIf="!active[i]" (click)="history(i)"></fa-icon>
        <fa-icon [icon]="faPlus" *ngIf="active[i]" (click)="add(i)"></fa-icon>
        <fa-icon [icon]="faPenToSquare" *ngIf="active[i]" (click)="edit(i)"></fa-icon>
        <fa-icon [icon]="faMoneyBill" *ngIf="active[i]" (click)="bill(i)"></fa-icon>
      </div>
    </div>
  </main>
</div>
<app-footer></app-footer>
<app-order *ngIf="newOrder" class="modals"></app-order>
<app-order *ngIf="editOrder" class="modals" title="Edit Order"></app-order>
<app-bill *ngIf="showBill" class="modals"></app-bill>
<app-history *ngIf="showHistory" class="modals"></app-history>
