<div class="container">
  <button (click)="openNewModal()">
    <fa-icon [icon]="faPlus"></fa-icon>
    New Food...
  </button>
  <select id="sort-by-select" [(ngModel)]="sortBy" (ngModelChange)="sortByChange($event)">
    <option>Sort by category</option>
    <option *ngFor="let category of categories; let i = index">{{category.name}}</option> <!--  ngFor    -->
  </select>
  <div id="list-container">
    <div class="content-container" *ngFor="let food of foods; let i = index" (click)="showDetails(i)"> <!--  ngFor    -->
      <div class="content-headers">
        <h3>{{food.name}}</h3>
        <div class="fa-icon-container">
          <fa-icon [icon]="faPenToSquare" (click)="openNewModal(i)"></fa-icon>
          <fa-icon [icon]="faXMark" (click)="openDeleteModal(i)"></fa-icon>
        </div>
      </div>
      <div *ngIf="selectedFood==i" id="more-information-container">
        <div>
          <div><b>Price:</b> {{food.price}}</div>
          <div><b>Category:</b> {{categories[food.category].name}}</div>
        </div>
        <div>
          <b>Allergies: </b>
          <div *ngFor="let allergyIndex of foods[i].allergies">
            {{allergies[allergyIndex].name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal to add a new Food -->

<dialog data-keyboard="false" id="new-instance-dialog">
  <h2>{{title}}</h2>
  <div id="modal-input-container">
    <div>
      <div class="direct-input-container">
        <input type="text" [(ngModel)]="name" placeholder="Name">
        <fa-icon [icon]="faSignature"></fa-icon>
      </div>
      <div class="direct-input-container">
        <input type="number" [(ngModel)]="price" placeholder="Price" min="0">
        <fa-icon [icon]="faTag"></fa-icon>
      </div>
      <div class="direct-input-container">
        <select [(ngModel)]="selectedCategory" class="direct-input-container" id="category-select">
          <option *ngFor="let category of categories">{{category.name}}</option> <!--  ngFor    -->
        </select>
        <fa-icon [icon]="faBars"></fa-icon>
      </div>
    </div>
    <div id="checkbox-input-container">
      <div *ngFor="let allergy of allergies; let i = index"> <!--  ngFor    -->
        <label>{{allergy.name.charAt(0).toUpperCase() + allergy.name.slice(1)}}
          <input type="checkbox" [(ngModel)]="selectedAllergies[i]">
        </label>
      </div>
    </div>
  </div>
  <div id="button-container">
    <button (click)="saveFood()">save</button>
    <button (click)="closeModal('#new-instance-dialog')">abort</button>
  </div>
  <p id="error-msg" *ngIf="errorMessage">Please fill all Fields</p>
</dialog>

<!-- dialog to delete instance-->

<dialog data-keyboard="false" id="delete-instance-dialog">
  <p>Do you really want to delete {{title}}</p>
  <div id="button-container-delete">
    <button (click)="deleteFood()">yes</button>
    <button (click)="closeModal('#delete-instance-dialog')">no</button>
  </div>
</dialog>

