<div class="container">
  <a routerLink="/login"><h1>Register</h1></a>

  <div>
    <input type="text" [(ngModel)]="username" placeholder="Username">
    <fa-icon [icon]="faUser"></fa-icon>
  </div>
  <div>
    <input type="email" [(ngModel)]="email" placeholder="Email">
    <fa-icon [icon]="faEnvelope"></fa-icon>
  </div>
  <div>
    <input id="password" type="password" [(ngModel)]="password" placeholder="Password">
    <fa-icon [icon]="faKey"></fa-icon>
    <span (click)="changeVisibility()" *ngIf="password"><fa-icon [icon]="faEye"></fa-icon></span>
  </div>
  <div *ngIf="error" class="error">{{error}}</div>
  <button *ngIf="!registering" (click)="register()">Register</button>
  <button *ngIf="registering">
    <div class="rotate">
      <fa-icon [icon]="faSpinner" id="spinner"></fa-icon>
    </div>
  </button>
</div>
