<div id="container">
  <header id="header">
    <h1>Support</h1>
    <fa-icon [icon]="faHouse" routerLink="/"></fa-icon>
  </header>
  <main id="content">
    <div>
      <h3>Direct</h3>
      <p>Telephone: <a href="tel:+41765432100">+41 76 543 21 00</a></p>
      <p>Email: <a href="mailto:example@test.com">example@test.com</a></p>
    </div>
    <div>
      <h3>Address</h3>
      <a href="https://www.google.com/maps/search/4405+neese+lee/@30.443206,-88.5371415,63m/data=!3m1!1e3!5m1!1e4" target="_blank">
        <p>4405 Neese Ln</p>
        <p>Moss Point</p>
        <p>MS 39563</p>
      </a>
    </div>
    <div>
      <h3>Contact Form</h3>
      <p>Contact us over our contact form <a routerLink="/contact">here</a></p>
    </div>
  </main>
</div>
<app-footer></app-footer>
