<div id="container">
  <div class="input-container">
    <label for="username"><h3>Username</h3></label>
    <div>
      <input type="text" [(ngModel)]="user.username" id="username">
      <fa-icon [icon]="faUser"></fa-icon>
    </div>
  </div>

  <div class="input-container">
    <label for="email"><h3>Email</h3></label>
    <div>
      <input type="email" [(ngModel)]="user.email" id="email">
      <fa-icon [icon]="faEnvelope"></fa-icon>
    </div>
  </div>

  <div class="input-container">
    <label for="password"><h3>Password</h3></label>
    <div>
      <input type="password" [(ngModel)]="user.password" id="password" placeholder="Enter new password">
      <fa-icon [icon]="faKey"></fa-icon>
      <span (click)="changeVisibility()" *ngIf="user.password"><fa-icon [icon]="faEye" id="eye"></fa-icon></span>
    </div>
  </div>
  <div id="button-container">
    <button (click)="updateUser()">save</button>
    <button (click)="loadData()">reset</button>
  </div>
</div>
