<div id="container">
  <header id="header">
    <h1>Legal Notice</h1>
    <fa-icon [icon]="faHouse" routerLink="/"></fa-icon>
  </header>
  <main id="content">
    <p>
      Welcome to the [Restaurant Name] Restaurant Management System website (the "Website"). Please read the
      following legal notice carefully. By accessing and using the Website, you agree to be bound by the terms and
      conditions set forth below. If you do not agree to these terms and conditions, please do not use the
      Website.
      <br><br><b>Intellectual Property:</b><br>
      The content of the Website, including but not limited to text, graphics, logos, images, and software, is the
      property of [Restaurant Name] and is protected by copyright and other intellectual property laws. You may not
      reproduce, modify, distribute, or use any of the content of the Website for commercial purposes without the
      express written consent of [Restaurant Name].
      <br><br><b>Disclaimers:</b><br>
      The information contained on the Website is provided for general informational purposes only and is not intended
      as professional advice. [Restaurant Name] does not make any representations or warranties of any kind, express or
      implied, about the completeness, accuracy, reliability, suitability or availability with respect to the Website or
      the information, products, services, or related graphics contained on the Website for any purpose. Any reliance
      you place on such information is therefore strictly at your own risk.
      <br><br><b>Limitation of Liability:</b><br>
      [Restaurant Name] shall not be liable for any damages arising from the use of the Website or the information
      contained therein. The Website may contain links to other websites that are not owned or controlled by [Restaurant
      Name]. [Restaurant Name] is not responsible for the content of these websites and shall not be liable for any
      damages arising from the use of these websites.
      <br><br><b>Governing Law:</b><br>
      This Legal Notice and the use of the Website are governed by and construed in accordance with the laws of
      [jurisdiction]. Any disputes arising from the use of the Website shall be resolved in the courts of
      [jurisdiction].
      <br><br><b>Changes to this Legal Notice:</b><br>
      [Restaurant Name] may revise this Legal Notice at any time. The revised Legal Notice shall be binding on you from
      the date of publication on the Website. Please check this page regularly for any changes.
      <br><br><b>Contact Information:</b><br>
      If you have any questions or concerns regarding this Legal Notice, please contact us at [contact email].<br><br>
    </p>
  </main>
</div>
<app-footer></app-footer>
